{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasions{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ parent() }}
    <script src="{{ asset('voiture.js')}}"></script>

{% endblock %}

{% block body %}
<section>
    <div class="container border-top py-3 my-3 g-0"> </div>
    <div class="container mb-2"> 
        <div class="row g-1 reveal">
            <div class="categorie-fonts text-primary ps-3">Nos voitures d'occasions</div>
            
            <form class="d-flex mt-3" method="POST">
                <input class="form-control me-2" type="search" placeholder="Rechercher" name="search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search search_icon"></i></button>
            </form>

            <div class="d-flex align-items-center justify-content-around mt-3 mb-3 row range-sliders">
                <div class="w-25 range-sliders-div">
                    <p>
                        <label for="price-amount">Prix :</label><br>
                        <input type="text" id="price-amount" readonly style="border:0; color:#D94350; font-weight:bold;">
                    </p>
                    <div id="price-slider-range"></div>
                </div>     
                <div class="w-25 range-sliders-div">
                    <p>
                        <label for="km-amount">Kilométrage :</label><br>
                        <input type="text" id="km-amount" readonly style="border:0; color:#D94350; font-weight:bold;">
                    </p>
                    <div id="km-slider-range"></div>
                </div> 
                <div class="w-25 range-sliders-div">
                    <p>
                        <label for="year-amount">Année :</label><br>
                        <input type="text" id="year-amount" readonly style="border:0; color:#D94350; font-weight:bold;">
                    </p>
                    <div id="year-slider-range"></div>
                </div> 
            </div>

            <div id="carsList">
                {% if voitures is empty %}
                <div class="d-flex align-items-center justify-content-center mt-5 mb-5 row">
                    <h1 class="text-danger text-center">Aucune annonce ne correspond aux critères.</h1>
                </div>
                {% else %}
                <div class="d-flex align-items-center justify-content-around mt-3 row">
                    {% for voitures in voitures %}
                    <div class="card col-6 mb-5 cards-car">
                        {% if voitures.fichier %}
                        <img src="{{ asset('images/' ~ voitures.fichier ) }}" class="card-img w-100 rounded-0" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ voitures.nom }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ voitures.prix }}€</li>
                                <li class="list-group-item">Année: {{ voitures.annee }}</li>
                                <li class="list-group-item">{{ voitures.km }}km au compteur</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details" type="button">Détails</a>
                                <a href="{{ path('app_contact')}}" class="text-decoration-none"><div class="btn-contact me-md-2">Contact</div></a>
                                {% if app.user %}
                                    <a href="{{ path('app_supprimer_voiture', {'id': voiture.id}) }}" class="btn btn-danger">Supprimer</a>
                                {% endif %}
                                <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="joinModalLabel">
                                                    Détails de la voiture
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            {#<div class="modal-body">
                                                <h5> Galerie d'image</h5>
                                                <h5>Caractéristiques</h5>
                                                <p>{{voitures.option.caracteristiques}}</p>
                                                <h5>Equipements et options</h5>
                                                <p>{{voitures.option.equipements}}</p>
                                            </div>#}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>    
        </div>
    </div>
    {% if app.user and "ROLE_USER" in app.user.roles %} 
    <div class="row">
        <div class="col"></div>
        <div class="col form-fonts">
            <h1 class="mb-3 text-center mt-3 text-primary">Ajouter une voiture</h1>
            {{ form_start(voitureForm) }}
            <div class="text-primary">Nom</div>
            {{ form_row(voitureForm.nom) }}
            <div class="text-primary">Prix en euros(nombre entier)</div>
            {{ form_row(voitureForm.prix) }}
            <div class="text-primary">Année de la mise en circulation</div>
            {{ form_row(voitureForm.annee) }}
            <div class="text-primary">Kilométrage</div>
            {{ form_row(voitureForm.km) }}
            <div class="text-primary">Images</div>
            {{ form_row(voitureForm.fichier) }}
            <button type="submit" class="mt-3 w-100 login-btn mb-2 text-secondary">Ajouter</button>
            {{ form_end(voitureForm) }}
        </div>
    <div class="col"></div>
    {% endif %}
    </div> 
</section>
{% endblock %}
